@tailwind base;
@tailwind components;
@tailwind utilities;

a, svg {
display: block}
  a{
    display: inline-block;
    position: relative ;
    height: 50px ;
    width: 50px ;
  }
    
  svg {
    height: 100%;
    width: 100%;
  }
.icon{
  background: black ;
  border-radius: 100%;
  color: whit; 
  fill: white;
      color: black ;
    fill: black;
}
.facebook {
    color: #3B579D ;
    fill: #3B579D;
}
.github {
  background: white;
  color : black ;
  fill: black  ;
    
}
.linkedin{
    color: #007BB6 ;
    fill: #007BB6;
}
